flow/Connect_NETPIE2020_Subscribe_flow.json
[{"id":"849fc4d7.9b97b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11d4b08f.a40e0f","type":"comment","z":"849fc4d7.9b97b8","name":"MQTT Subscribe from NETPIE 2020","info":"","x":238,"y":115,"wires":[]},{"id":"f86fc1c.1f36a4","type":"mqtt in","z":"849fc4d7.9b97b8","name":"","topic":"@shadow/data/updated","qos":"2","datatype":"auto","broker":"e4814e8d.c3cf6","x":232,"y":185,"wires":[["e4edf652.4e7888"]]},{"id":"e4edf652.4e7888","type":"json","z":"849fc4d7.9b97b8","name":"","property":"payload","action":"","pretty":false,"x":468.5,"y":186,"wires":[["fdb4a39c.881ee","1a38f472.41e2cc","e9955d3.1c4a9a","33c5a50.d1a8e5c"]]},{"id":"fdb4a39c.881ee","type":"function","z":"849fc4d7.9b97b8","name":"parseFloat","func":"var x = msg.payload.data.temperature;\nmsg.payload = parseFloat(x);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":714,"y":128,"wires":[["bc3fc151.80958"]]},{"id":"1a38f472.41e2cc","type":"function","z":"849fc4d7.9b97b8","name":"parseFloat","func":"var x = msg.payload.data.humidity;\nmsg.payload = parseFloat(x);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":714,"y":174,"wires":[["18c6d155.a7727f"]]},{"id":"e9955d3.1c4a9a","type":"function","z":"849fc4d7.9b97b8","name":"parseFloat","func":"var x = msg.payload.data.CO2;\nmsg.payload = parseFloat(x);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":714,"y":219,"wires":[["66ccf185.049b"]]},{"id":"bc3fc151.80958","type":"influxdb out","z":"849fc4d7.9b97b8","influxdb":"2cf62ac.7807bd6","name":"temp","measurement":"node_temp","precision":"","retentionPolicy":"","x":940,"y":128,"wires":[]},{"id":"18c6d155.a7727f","type":"influxdb out","z":"849fc4d7.9b97b8","influxdb":"2cf62ac.7807bd6","name":"humid","measurement":"node_humid","precision":"","retentionPolicy":"","x":938,"y":175,"wires":[]},{"id":"66ccf185.049b","type":"influxdb out","z":"849fc4d7.9b97b8","influxdb":"2cf62ac.7807bd6","name":"CO2","measurement":"node_CO2","precision":"","retentionPolicy":"","x":939,"y":218,"wires":[]},{"id":"33c5a50.d1a8e5c","type":"debug","z":"849fc4d7.9b97b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":716.5,"y":75,"wires":[]},{"id":"e4814e8d.c3cf6","type":"mqtt-broker","z":"","name":"","broker":"broker.netpie.io","port":"1883","clientid":"4047fcf6-344f-426f-8c4f-a93d6884a911","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2cf62ac.7807bd6","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"edgehub","name":"","usetls":false,"tls":""}]
