flow/IDA_Urconnect_Flow.json
[{"id":"19efc368.fb5e4d","type":"tab","label":"Vertical_Test_SchneiderPM2000SERIER","disabled":false,"info":""},{"id":"ac7745d9.fd6ff8","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":300,"wires":[]},{"id":"fb25a6b5.d2ddf8","type":"function","z":"19efc368.fb5e4d","name":"Current int16 to float32","func":"if(msg.payload.data !== null)\n{\n    var CurrentA_buffer = [msg.payload.data[1],msg.payload.data[0]];\n    var CurrentB_buffer = [msg.payload.data[3],msg.payload.data[2]];\n    var CurrentC_buffer = [msg.payload.data[5],msg.payload.data[4]];\n    var CurrentN_buffer = [msg.payload.data[7],msg.payload.data[6]];\n    var CurrentG_buffer = [msg.payload.data[9],msg.payload.data[8]];\n    var CurrentAvg_buffer = [msg.payload.data[11],msg.payload.data[10]];\n    \n    msg.payload = {};\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    \n    CurrentA_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_currentA = new Float32Array(buf);\n    msg.payload.CurrentA = float_currentA[0];\n    \n    CurrentB_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_currentB = new Float32Array(buf);\n    msg.payload.CurrentB = float_currentB[0];\n    \n    CurrentC_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_currentC = new Float32Array(buf);\n    msg.payload.CurrentC = float_currentC[0];\n    \n    /*CurrentN_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_currentN = new Float32Array(buf);\n    msg.payload.CurrentN = float_currentN[0];\n    \n    CurrentG_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_currentG = new Float32Array(buf);\n    msg.payload.CurrentG = float_currentG[0];*/\n    \n    CurrentAvg_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_currentAvg = new Float32Array(buf);\n    msg.payload.CurrentAvg = float_currentAvg[0];\n    \n    flow.set(\"Current\",msg);  \n    flow.set(\"ModBusFail\",0);\n}\nelse\n{\n    flow.set(\"ModBusFail\",1);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["ac7745d9.fd6ff8"]]},{"id":"3230af.c1be6f52","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":"30","x":150,"y":289,"wires":[["fcc216a0.63a8c8","207f8d1c.d71572","fa957ca3.2a998"]]},{"id":"e481303f.49362","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":400,"wires":[]},{"id":"4c3d4b51.d035f4","type":"function","z":"19efc368.fb5e4d","name":"Voltage int16 to float32","func":"if(msg.payload.data !== null)\n{\n    var VoltageAB_buffer = [msg.payload.data[1],msg.payload.data[0]];\n    var VoltageBC_buffer = [msg.payload.data[3],msg.payload.data[2]];\n    var VoltageCA_buffer = [msg.payload.data[5],msg.payload.data[4]];\n    var VoltageLL_Avg_buffer = [msg.payload.data[7],msg.payload.data[6]];\n    var VoltageLN_Avg_buffer = [msg.payload.data[17],msg.payload.data[16]];\n    \n    msg.payload = {};\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    \n    VoltageAB_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_VoltageAB = new Float32Array(buf);\n    msg.payload.VoltageAB = float_VoltageAB[0];\n    \n    VoltageBC_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_VoltageBC = new Float32Array(buf);\n    msg.payload.VoltageBC = float_VoltageBC[0];\n    \n    VoltageCA_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_VoltageCA = new Float32Array(buf);\n    msg.payload.VoltageCA = float_VoltageCA[0];\n    \n    VoltageLL_Avg_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_VoltageLL_Avg = new Float32Array(buf);\n    msg.payload.VoltageLL_Avg = float_VoltageLL_Avg[0];\n    \n    VoltageLN_Avg_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_VoltageLN_Avg = new Float32Array(buf);\n    msg.payload.VoltageLN_Avg = float_VoltageLN_Avg[0];\n    \n    flow.set(\"Voltage\",msg);  \n}\nelse\n{\n    flow.set(\"ModBusFail\",1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":761.5,"y":395,"wires":[["e481303f.49362"]]},{"id":"eec0ac8d.0a46a","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":391,"wires":[["ecda05bb.72df28"]]},{"id":"306bff25.fc277","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":500,"wires":[]},{"id":"57ca7513.6ac94c","type":"function","z":"19efc368.fb5e4d","name":"Power int16 to float32","func":"if(msg.payload.data !== null)\n{\n    var ActivePowerA_buffer = [msg.payload.data[1],msg.payload.data[0]];\n    var ActivePowerB_buffer = [msg.payload.data[3],msg.payload.data[2]];\n    var ActivePowerC_buffer = [msg.payload.data[5],msg.payload.data[4]];\n    var ActivePowerTotal_buffer = [msg.payload.data[7],msg.payload.data[6]];\n    \n    var ReactivePowerA_buffer = [msg.payload.data[9],msg.payload.data[8]];\n    var ReactivePowerB_buffer = [msg.payload.data[11],msg.payload.data[10]];\n    var ReactivePowerC_buffer = [msg.payload.data[13],msg.payload.data[12]];\n    var ReactivePowerTotal_buffer = [msg.payload.data[15],msg.payload.data[14]];\n    \n    var ApparentPowerA_buffer = [msg.payload.data[17],msg.payload.data[16]];\n    var ApparentPowerB_buffer = [msg.payload.data[19],msg.payload.data[18]];\n    var ApparentPowerC_buffer = [msg.payload.data[21],msg.payload.data[20]];\n    var ApparentPowerTotal_buffer = [msg.payload.data[23],msg.payload.data[22]];\n    \n    msg.payload = {};\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    \n    ActivePowerTotal_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_ActivePowerTotal = new Float32Array(buf);\n    msg.payload.ActivePowerTotal = float_ActivePowerTotal[0];\n    \n    ReactivePowerTotal_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_ReactivePowerTotal = new Float32Array(buf);\n    msg.payload.ReactivePowerTotal = float_ReactivePowerTotal[0];\n    \n    ApparentPowerTotal_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_ApparentPowerTotal = new Float32Array(buf);\n    msg.payload.ApparentPowerTotal = float_ApparentPowerTotal[0];\n    \n    flow.set(\"Power\",msg);  \n    \n}\nelse\n{\n    flow.set(\"ModBusFail\",1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":500,"wires":[["306bff25.fc277"]]},{"id":"b8798bbf.f7eb08","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["d3444a3f.f00598"]]},{"id":"7bea5529.37ce8c","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":600,"wires":[]},{"id":"2a630bd4.b70614","type":"function","z":"19efc368.fb5e4d","name":"Total Power Factor int16 to float32","func":"if(msg.payload.data !== null)\n{\n    var TotalPowerFactor_buffer = [msg.payload.data[1],msg.payload.data[0]];\n    \n    msg.payload = {};\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    \n    TotalPowerFactor_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_TotalPowerFactor = new Float32Array(buf);\n    msg.payload.TotalPowerFactor = float_TotalPowerFactor[0];\n    \n    flow.set(\"PowerFactor\",msg);\n}\nelse\n{\n    flow.set(\"ModBusFail\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":811.5,"y":604,"wires":[["7bea5529.37ce8c"]]},{"id":"28c0f2f3.6a488e","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":596,"wires":[["796c7e8e.6af16"]]},{"id":"6d0b08df.e4d638","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":700,"wires":[]},{"id":"fd067971.9e3cc8","type":"function","z":"19efc368.fb5e4d","name":"Frequency int16 to float32","func":"if(msg.payload.data !== null)\n{\n    var Frequency_buffer = [msg.payload.data[1],msg.payload.data[0]];\n    \n    msg.payload = {};\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    \n    Frequency_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_Frequency = new Float32Array(buf);\n    msg.payload.Frequency = float_Frequency[0];\n    \n    flow.set(\"Frequency\",msg);\n}\nelse\n{\n    flow.set(\"ModBusFail\",1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["6d0b08df.e4d638"]]},{"id":"adedc27c.140a1","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[["955f0a7f.597878"]]},{"id":"673ee470.43af8c","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":800,"wires":[]},{"id":"d5434a3f.4acf68","type":"function","z":"19efc368.fb5e4d","name":"Enregy int16 to float32","func":"if(msg.payload.data !== null)\n{\n    var Enregy_buffer = [msg.payload.data[1],msg.payload.data[0]];\n    \n    msg.payload = {};\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    \n    Enregy_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_Enregy = new Float32Array(buf);\n    msg.payload.Enregy = float_Enregy[0];\n    \n    flow.set(\"Energy\",msg);\n}\nelse\n{\n    flow.set(\"ModBusFail\",1);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":857.5,"y":802,"wires":[["673ee470.43af8c"]]},{"id":"e81cb6b4.da6718","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":795,"wires":[["4da7d543.dc073c"]]},{"id":"c1ecfbf9.a446c8","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1110,"y":920,"wires":[]},{"id":"eebeff8e.ae8d1","type":"function","z":"19efc368.fb5e4d","name":"Peak Demand Active Power int16 to float32","func":"if(msg.payload.data !== null)\n{\n    var PeakDemand_buffer = [msg.payload.data[1],msg.payload.data[0]];\n    \n    msg.payload = {};\n    var buf = new ArrayBuffer(4);\n    var ints = new Uint16Array(buf);\n    \n    PeakDemand_buffer.forEach(function(b,i){ints[i] = b;});\n    var float_PeakDemand = new Float32Array(buf);\n    msg.payload.PeakDemand = float_PeakDemand[0];\n    \n    flow.set(\"Peak_Demand_Active_Power\",msg);\n\n}\nelse\n{\n    flow.set(\"ModBusFail\",1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":837.5,"y":922,"wires":[["c1ecfbf9.a446c8","ec0789a6.b3fb28"]]},{"id":"78bd4ab0.65f544","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":915,"wires":[["5e7ee10d.ae25d"]]},{"id":"5137678f.17fbf8","type":"delay","z":"19efc368.fb5e4d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":340,"wires":[["ecda05bb.72df28"]]},{"id":"c8f769c3.31a8f8","type":"delay","z":"19efc368.fb5e4d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":440,"wires":[["d3444a3f.f00598"]]},{"id":"5a3bc188.9cca7","type":"delay","z":"19efc368.fb5e4d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":540,"wires":[["796c7e8e.6af16"]]},{"id":"11ceb6a1.9ea769","type":"delay","z":"19efc368.fb5e4d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":372,"y":853,"wires":[["5e7ee10d.ae25d"]]},{"id":"fcc216a0.63a8c8","type":"exec","z":"19efc368.fb5e4d","command":"ifconfig","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":140,"wires":[["2eef6e7a.61af62"],[],[]]},{"id":"eee53e9f.44cae","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":120,"wires":[]},{"id":"2eef6e7a.61af62","type":"function","z":"19efc368.fb5e4d","name":"Filter WiFi MAC","func":"ifconfig = msg.payload;\nStartindex = ifconfig.indexOf(\"wlan0\");\nfilterindex = ifconfig.indexOf(\"ether \",Startindex)+6;\nWiFiMAC = ifconfig.substring(filterindex,ifconfig.indexOf(\"txqueuelen\",filterindex) - 2);\n\nmsg.payload = WiFiMAC;\nflow.set(\"WiFi_MAC\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["eee53e9f.44cae"]]},{"id":"207f8d1c.d71572","type":"modbus-getter","z":"19efc368.fb5e4d","name":"Read Current ID:5 Address 7001-7012","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"7000","quantity":"12","server":"32d22ed0.fae912","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":407,"y":292,"wires":[["5137678f.17fbf8"],["fb25a6b5.d2ddf8"]]},{"id":"ecda05bb.72df28","type":"modbus-getter","z":"19efc368.fb5e4d","name":"Read Voltage ID:5 Address 7013-7030","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"7012","quantity":"18","server":"32d22ed0.fae912","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":412,"y":394,"wires":[["c8f769c3.31a8f8"],["4c3d4b51.d035f4"]]},{"id":"d3444a3f.f00598","type":"modbus-getter","z":"19efc368.fb5e4d","name":"Read Power ID:5 Address 7031-7054","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"7030","quantity":"24","server":"32d22ed0.fae912","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":410,"y":500,"wires":[["5a3bc188.9cca7"],["57ca7513.6ac94c"]]},{"id":"796c7e8e.6af16","type":"modbus-getter","z":"19efc368.fb5e4d","name":"Read Total Power Factor ID:5 Address 7055-7056","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"7054","quantity":"2","server":"32d22ed0.fae912","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":425,"y":599,"wires":[["844a30c7.24f9"],["2a630bd4.b70614"]]},{"id":"955f0a7f.597878","type":"modbus-getter","z":"19efc368.fb5e4d","name":"Read Frequency ID:5 Address 7057-7058","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"7056","quantity":"2","server":"32d22ed0.fae912","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":420,"y":700,"wires":[[],["fd067971.9e3cc8","6252bdeb.f38df4"]]},{"id":"4da7d543.dc073c","type":"modbus-getter","z":"19efc368.fb5e4d","name":"Read Active Energy Delivered(into load) ID:5 Address 7059-7060","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"7058","quantity":"2","server":"32d22ed0.fae912","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":465,"y":798,"wires":[["11ceb6a1.9ea769"],["d5434a3f.4acf68"]]},{"id":"5e7ee10d.ae25d","type":"modbus-getter","z":"19efc368.fb5e4d","name":"Read Peak Demand Active Power ID:5 Address 7061-7062","showStatusActivities":true,"showErrors":true,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"7060","quantity":"2","server":"32d22ed0.fae912","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":420,"y":916,"wires":[[],["eebeff8e.ae8d1"]]},{"id":"fa957ca3.2a998","type":"function","z":"19efc368.fb5e4d","name":"TimeStamp and Latitude Longtitude","func":"flow.set(\"TimeStamp\",msg.payload);\nflow.set(\"Latitude\",13.149639);\nflow.set(\"Longtitude\",101.046639);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[[]]},{"id":"6252bdeb.f38df4","type":"delay","z":"19efc368.fb5e4d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":740,"wires":[["4da7d543.dc073c"]]},{"id":"844a30c7.24f9","type":"delay","z":"19efc368.fb5e4d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":640,"wires":[["955f0a7f.597878"]]},{"id":"73d2e2d7.c7f94c","type":"mqtt out","z":"19efc368.fb5e4d","name":"","topic":"@shadow/data/updated","qos":"","retain":"","broker":"babb2a2.ff85cd8","x":1730,"y":940,"wires":[]},{"id":"9e3dbb8c.ac1708","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"@shadow/data/update","payload":"{\"data\":{\"temp\":28,\"place\":\"NECTEC\",\"humid\":60}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1450,"y":920,"wires":[["1160d330.eed31d"]]},{"id":"1160d330.eed31d","type":"debug","z":"19efc368.fb5e4d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":880,"wires":[]},{"id":"2f24a709.7f7098","type":"function","z":"19efc368.fb5e4d","name":"Function Data","func":"var Current = flow.get(\"Current\");\nvar currentAvg = Current.payload.CurrentAvg;\nvar currentA = Current.payload.CurrentA;\nvar currentB = Current.payload.CurrentB;\nvar currentC = Current.payload.CurrentC;\n\nvar Voltage = flow.get(\"Voltage\");\nvar Vavg = Voltage.payload.VoltageLN_Avg;\nvar Vab = Voltage.payload.VoltageAB;\nvar Vbc = Voltage.payload.VoltageBC;\nvar Vca = Voltage.payload.VoltageCA;\n\nvar Power = flow.get(\"Power\");\nvar ActivePowerTotal = Power.payload.ActivePowerTotal;\nvar ReactivePowerTotal = Power.payload.ReactivePowerTotal;\nvar ApparentPowerTotal = Power.payload.ApparentPowerTotal;\n\nvar PF = flow.get(\"PowerFactor\");\nvar total_PF = PF.payload.TotalPowerFactor;\n\nvar F = flow.get(\"Frequency\");\nvar Frequency = F.payload.Frequency;\n\nvar E = flow.get(\"Energy\");\nvar Energy = E.payload.Enregy;\n\nvar PeakDemand = flow.get(\"Peak_Demand_Active_Power\");\nvar PeakDemandActivePower = PeakDemand.payload.PeakDemand;\n\nvar AlarmModbusFail = flow.get(\"ModBusFail\");\n// var ModbusFail = AlarmModbusFail;\n\nmsg.payload = {};\n\nmsg.payload.Iavg = currentAvg;\nmsg.payload.Ia = currentA;\nmsg.payload.Ib = currentB;\nmsg.payload.Ic = currentC;\n\nmsg.payload.Vavg = Vavg;\nmsg.payload.Vab = Vab;\nmsg.payload.Vbc = Vbc;\nmsg.payload.Vca = Vca;\n\nmsg.payload.ActivePowerTotal = ActivePowerTotal;\nmsg.payload.ReactivePowerTotal = ReactivePowerTotal;\nmsg.payload.ApparentPowerTotal = ApparentPowerTotal;\n\nmsg.payload.Frequency = Frequency;\n\nmsg.payload.total_PF = total_PF;\n\nmsg.payload.Energy = Energy;\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1060,"wires":[["e459f1ea.7c85"]]},{"id":"ec0789a6.b3fb28","type":"delay","z":"19efc368.fb5e4d","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":850,"y":1060,"wires":[["2f24a709.7f7098"]]},{"id":"e459f1ea.7c85","type":"debug","z":"19efc368.fb5e4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":1060,"wires":[]},{"id":"60bb4d53.fa57a4","type":"debug","z":"19efc368.fb5e4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1650,"y":1040,"wires":[]},{"id":"cec1cfd6.03aac","type":"inject","z":"19efc368.fb5e4d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["dabb1a38.265fb8"]]},{"id":"dabb1a38.265fb8","type":"debug","z":"19efc368.fb5e4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":60,"wires":[]},{"id":"32d22ed0.fae912","type":"modbus-client","z":"","name":"Power meter TCP","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.200.2","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":1000,"parallelUnitIdsAllowed":true},{"id":"babb2a2.ff85cd8","type":"mqtt-broker","z":"","name":"","broker":"broker.nexpie.io","port":"1883","clientid":"99807829-c326-4b39-9bb5-923ed98edae8","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]