flow/local_broker_flow.json
[{"id":"849fc4d7.9b97b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"32127a87.d57f96","type":"mosca in","z":"849fc4d7.9b97b8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":232.5,"y":119,"wires":[["7194f744.474f98"]]},{"id":"7194f744.474f98","type":"debug","z":"849fc4d7.9b97b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":504.5,"y":118,"wires":[]},{"id":"c4e358ba.727578","type":"mqtt in","z":"849fc4d7.9b97b8","name":"","topic":"local/node1","qos":"2","datatype":"auto","broker":"e4814e8d.c3cf6","x":209.5,"y":271,"wires":[["f7777968.b194b8"]]},{"id":"d3c4491e.19aa38","type":"comment","z":"849fc4d7.9b97b8","name":"MOSCA Broker","info":"","x":156.5,"y":50,"wires":[]},{"id":"11d4b08f.a40e0f","type":"comment","z":"849fc4d7.9b97b8","name":"MQTT Subscribe","info":"","x":161,"y":203,"wires":[]},{"id":"f7777968.b194b8","type":"split","z":"849fc4d7.9b97b8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":271,"wires":[["459f41e6.c42"]]},{"id":"459f41e6.c42","type":"switch","z":"849fc4d7.9b97b8","name":"Temp, %RH, CO2 (Central)","property":"parts.index","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":600,"y":271,"wires":[["f9f36a96.3c2388"],["c861d2e8.52ed5"],["87ddd76d.1711f8"]]},{"id":"f9f36a96.3c2388","type":"function","z":"849fc4d7.9b97b8","name":"parseFloat","func":"var x = msg.payload;\nmsg.payload = parseFloat(x);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":231,"wires":[["54759638.3ef2f8"]]},{"id":"c861d2e8.52ed5","type":"function","z":"849fc4d7.9b97b8","name":"parseFloat","func":"var x = msg.payload;\nmsg.payload = parseFloat(x);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":271,"wires":[["6fc33f79.666c8"]]},{"id":"87ddd76d.1711f8","type":"function","z":"849fc4d7.9b97b8","name":"parseFloat","func":"var x = msg.payload;\nmsg.payload = parseFloat(x);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":311,"wires":[["a124d335.83aaa"]]},{"id":"54759638.3ef2f8","type":"influxdb out","z":"849fc4d7.9b97b8","influxdb":"2cf62ac.7807bd6","name":"temp","measurement":"node_temp","precision":"","retentionPolicy":"","x":1070,"y":231,"wires":[]},{"id":"6fc33f79.666c8","type":"influxdb out","z":"849fc4d7.9b97b8","influxdb":"2cf62ac.7807bd6","name":"humid","measurement":"node_humid","precision":"","retentionPolicy":"","x":1070,"y":271,"wires":[]},{"id":"a124d335.83aaa","type":"influxdb out","z":"849fc4d7.9b97b8","influxdb":"2cf62ac.7807bd6","name":"CO2","measurement":"node_CO2","precision":"","retentionPolicy":"","x":1070,"y":311,"wires":[]},{"id":"e4814e8d.c3cf6","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2cf62ac.7807bd6","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"edgehub","name":"","usetls":false,"tls":""}]
