node-red/data/.flows.json.backup
[{"id":"dcb51ab0.94e408","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf2a43f4.f5c02","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"edgehub","name":"","usetls":false,"tls":""},{"id":"afd87c65.4232d","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1568b77c.eb8279","type":"influxdb out","z":"dcb51ab0.94e408","influxdb":"bf2a43f4.f5c02","name":"","measurement":"node1","precision":"","retentionPolicy":"","x":550,"y":200,"wires":[]},{"id":"999b32df.a827b","type":"mosca in","z":"dcb51ab0.94e408","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":120,"wires":[["30152e34.269e22"]]},{"id":"30152e34.269e22","type":"debug","z":"dcb51ab0.94e408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":120,"wires":[]},{"id":"763355d0.33d2cc","type":"function","z":"dcb51ab0.94e408","name":"Convert Data","func":"var x = msg.payload;\nmsg.payload = parseFloat(x);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":200,"wires":[["1568b77c.eb8279"]]},{"id":"ba2a74cc.ed1848","type":"mqtt in","z":"dcb51ab0.94e408","name":"","topic":"/local/node1","qos":"0","datatype":"auto","broker":"afd87c65.4232d","x":130,"y":200,"wires":[["763355d0.33d2cc","65ecfd5b.881cc4"]]},{"id":"65ecfd5b.881cc4","type":"debug","z":"dcb51ab0.94e408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":280,"wires":[]}]